.tab-examples {
  display: flex;
  align-items: center;
  gap: 16px;
}

.tab-examples--container {
  background-color: var(--background-main, #ffffff);
}

.tab-showcase {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tab-group {
  display: flex;
  flex-direction: column;
}

.tab-group h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
